* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: #eff0f0;
  color: #1d1221;
}
header {
  position: sticky;
  top: 0;
}
.navigasi {
  position: sticky;
  top: 0;
}
.nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(20, 20, 20, 0.2);
  backdrop-filter: blur(2px);
  font-family: Arial, Helvetica, sans-serif;
  height: 75px;
  transition: height 1s;
  box-shadow: 2px 2px 3px 3px #7f827d;
  font-weight: bold;
}

.nav ul {
  display: flex;
  margin: 0;
  float: right;
  padding-right: 30px;
  padding-top: 25px;
}
ol a {
  text-decoration: none;
  color: black;
  transition: 0.15s;
}

ol {
  font-size: larger;
}

#home {
  padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#home img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #1d1221;
}

:root {
  color-scheme: light dark;
  --background-color: white;
  --text-color: #222;
  --typing-duration: 2500ms;
  --characters: 32;
  --delay: 2000ms;
  --blink-duration: 800ms;
}

body {
  margin: 0;
  padding: 0;
  font: 1rem "Source Code Pro", monospace;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

h1 {
  /* keep h1 from wrapping. */
  /*This is for when the typing effect initially begins */
  /* if you encounter layout problems, use responsive font size */
  width: max-content;
  position: relative;
  color: black;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  inset: 0;
}

h1::before {
  /* h1::before's bg color has to match bg */
  background: #e6e5e5;
  animation: typing var(--typing-duration) steps(var(--characters)) var(--delay)
    forwards;
}

h1::after {
  width: 0.2rem;
  background: var(--text-color);
  animation: typing var(--typing-duration) steps(var(--characters)) var(--delay)
      forwards,
    blink var(--blink-duration) infinite;
}

@keyframes typing {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1c1b22;
    --text-color: #ededef;
  }
}

#title {
  display: block;
  text-align: center;

  width: 100%;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.nav img {
  padding: 0;
  width: 210px;
  height: 60px;
}

#isi {
  justify-content: center;
  display: flex;
  font-size: large;
}

nav:hover {
  height: 100px;
}

.nav a:hover {
  color: aliceblue;
}

.menu {
  float: right;
  display: none;
  margin-right: 20px;

  padding: 20px;
}
.menu:hover {
  cursor: pointer;
}
#check {
  display: none;
}
.sidemenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  background-color: #64626498;
  z-index: 2;
  transition: 0.3s;
}
.sidemenu ul {
  padding-left: 0px;
}
.sidemenu ul ol {
  padding: 24px;
  transition: 0.3s;
}
.sidemenu ul ol:hover {
  background-color: rgb(51, 48, 48);
}

.sidemenu ul ol a {
  color: white;
}
#check:checked ~ .sidemenu {
  left: 0;
}

@media (max-width: 780px) {
  .menu {
    display: block;
  }
  .nav ul {
    display: none;
  }
  .to_do_img {
    width: 70%;

    object-fit: cover;
    text-align: center;
  }
  #title {
    max-width: 75vh;
  }
}

@media (max-width: 450px) {
  .menu {
    display: block;
  }
  .nav ul {
    display: none;
  }
  .to_do_img {
    width: 70%;

    object-fit: cover;
    text-align: center;
  }
  #title {
    max-width: 75vh;
  }
  .skill {
    margin: 0px;
    border-bottom: none;
  }

  .skill h2 {
    border-bottom: 2px solid black;
  }

  #title {
    font-size: 20px;
  }

  #home img {
    width: 150px;
    height: 150px;
  }

  .about p {
    font-size: 15px;
  }
}

.text {
  margin-top: 100px;
  background-color: #e6e5e5;
  height: 790px;
  transition: height 1s;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#abo {
  box-shadow: 0px 0px 10px 2px black inset;
  padding-top: 50px;
  padding-bottom: 175px;
  border-radius: 2%;
}

.info {
  font-size: larger;
  padding-top: 10px;
}

/* section .animate {
  transition: 1s;
} */

/* .sec-1 .animate {
  transform: translateX(-90%);
} */

/* .sec-1.show-animate .animate {
  transform: translateX(0);
} */
.about {
  justify-content: center;

  padding: 50px;
  font-size: 20px;
  max-width: 100ch;
  margin: auto;
  padding-bottom: 20px;
}
.skill {
  text-align: center;
  /* margin-bottom: 20px; */
  /* margin-top: 40px; */
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  font-size: 30px;
  /* padding-top: 50px; */
  /* border-bottom: 2px solid black; */
  font-family: Arial, Helvetica, sans-serif;
}

.html {
  padding: 10px;
  justify-content: center;
  border-radius: 20px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 4px 5px rgba(0, 0, 0.3);
  background-color: #b3b1b4;
}

.html:hover {
  box-shadow: 2px 4px 5px #61677a;
}
.css {
  justify-content: center;
  padding: 10px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0.3);
  background-color: #b3b1b4;
}
.css:hover {
  box-shadow: 2px 4px 5px #61677a;
}

.pic {
  width: 70px;
  height: 62px;
  justify-content: center;
  display: flex;

  margin: auto;
  padding-bottom: 20px;
  padding-top: 15px;
}

.picss {
  width: 70px;
  height: 62px;
  justify-content: center;
  display: flex;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 15px;
}

#gambar {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

#projek {
  display: block;
  margin: 120px;
  margin-left: 0px;
  margin-right: 0px;
}

#projek h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

#projek h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.to_do_img {
  width: 40%;

  object-fit: cover;
  text-align: center;
}

#footer {
  background-color: rgb(50, 49, 49);
  padding-left: 15px;
  border-bottom: 1px solid white;
}
span {
  color: white;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

#icon {
  padding-left: 10px;
  padding-top: 10px;
  margin: auto;
  text-align: center;
}

span {
  display: flex;
  justify-content: center;
}

.art {
  padding: 30px;
  padding-left: 120px;
  padding-right: 120px;
}

.sum {
  padding: 30px;
  padding-bottom: 5px;
}

.q {
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 5px;
}
